<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <section>
            <h2>My Goal</h2>
            <h3 id="userGoal"> <%=userGoal%> </h3>
        </section>
        <form action="/store-goal" method="POST" id="storeGoalForm">
            <div class="form-control">
                <label>Goal</label>
                <input type="text" name="goal">
            </div>
            <button>Set New Goal</button>
        </form>
    </body>
</html>